<h2> I Am a Homepage! </h2>

The time is <%= Time.now.strftime("%l:%M %P on %B%e, %Y.") %>

<ul>
  <% @links.each do |link| %>
    <li><%= link_to "#{link.title}", link_path(link.id) %>
  <% end %>
</ul>


<%= link_to 'Add a link', new_link_path %>